{% extends "dashboard/base.html" %}
{% block page_title %}{% if form.instance.pk %}编辑项目{% else %}新增项目{% endif %}{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data" class="form-box">
  {% csrf_token %}

  <div class="fieldset">
    <h3>项目信息</h3>
    {% include "dashboard/_form.html" %}
  </div>

  <div class="form-actions">
    <button type="submit" class="btn">保存</button>
    <a href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'dashboard:project_list' %}{% endif %}" class="btn secondary">取消</a>
  </div>
</form>
{% endblock %}
