{% extends "dashboard/base.html" %}
{% block page_title %}修改密码{% endblock %}
{% block content %}
<div class="fieldset">
  <form method="post" class="form-box">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="messages"><div class="error">{{ form.non_field_errors }}</div></div>
    {% endif %}
    {% include "dashboard/_form.html" %}
    <div class="form-actions">
      <button type="submit" class="btn">保存</button>
      <a href="{% url 'dashboard:index' %}" class="btn secondary">取消</a>
    </div>
  </form>
</div>
{% endblock %}
